/* Fonts */
.textGabarito {
    font-family: 'Gabarito', sans-serif;
}

.textGabaritoRegular {
    font-family: 'GabaritoRegular', sans-serif;
}

.textRedHatDisplay {
    font-family: 'Red Hat Display', sans-serif;
}

.textRedHatDisplayMedium {
    font-family: 'Red Hat Display Medium', sans-serif;
}

.textOpenSans {
    font-family: 'Open Sans', sans-serif;
}

.textOpenSansRegular {
    font-family: 'Open Sans Regular', sans-serif;
}

.textOpenSansLight {
    font-family: 'Open Sans Light', sans-serif;
}




