/* Gabarito  (Titles & Navigation) */
@font-face {
  font-family: "Gabarito";
  src: url(../fonts/Gabarito-Medium.ttf);
  font-weight: normal;
  font-style: normal;
  color: #231809;
}

@font-face {
  font-family: "GabaritoRegular";
  src: url(../fonts/Gabarito-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RedHatDisplayRegular";
  src: url(../fonts/RedHatDisplay-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RedHatDisplayMedium";
  src: url(../fonts/RedHatDisplay-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansRegular";
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url(../fonts/PlaypenSans-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansBold";
  src: url(../fonts/NunitoSans_7pt-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansMedium";
  src: url(../fonts/NunitoSans_7pt-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansRegular";
  src: url(../fonts/NunitoSans_7pt-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NunitoSansLight";
  src: url(../fonts/NunitoSans_7pt-Light.ttf);
  font-weight: normal;
  font-style: normal;
}
