.product-container {
    background-color: #1c1c1c;
    padding: 20px;
    margin-top: 80px;
    height: 52ch;
    border: #F7A22F dashed 1px;
    border-bottom: 0px;
    border-radius: 10px 10px 0 0;
  }
  
  .product-section {
    display: flex;
    flex-direction: column; /* Cambiado de column a row para disposición horizontal */
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
  }
  
  .product-info {
    display: flex;
    flex-direction: row; /* Ahora las secciones están en fila */
    width: 100%; /* Hace que el contenido ocupe todo el ancho disponible */
    /*max-width: 800px; /* Controla el tamaño máximo de las secciones */
    
    color: #E6D9C6;
  }
  
.product-info > .product-review,
    .product-info > .product-description {
    width: 30%;
    }

    .product-info > .product-image {
        flex-grow: 1; /* Permite que la imagen ocupe el espacio restante */
      }


  
  .product-review,
  .product-description {
    padding: 40px 10px; /* Añade un pequeño relleno a las secciones */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  
  
  .product-image {
    position: relative;
    z-index: 1; /* La imagen debe estar debajo del contenido */
    /*margin-top: -100px; /* Hace que sobresalga un poco hacia arriba */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  


  .product-image img {
    width: 85%; /* Asegura que ocupe el ancho completo del contenedor */
/* Ajusta este valor según el tamaño deseado */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Corta la imagen si es necesario para que se ajuste */
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .carousel-image {
    cursor: pointer;
    width: 100px;
    height: 60px;

 
  }

  .carousel-images {
    cursor: pointer;
    width: 100px;
    height: 60px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 100px;
  }
  
  .carousel-image:hover {
    transform: scale(1.02);
  }


  .star {
    font-size: 20px;
    color: #d3d3d3; /* Color de las estrellas vacías */
  }
  
  .star.filled {
    color: #F7A22F; /* Color de las estrellas rellenas */
  }

