.bg-Login {
  background-image: url(../../assets/images/Bg-Login.jpg);
  background-size: cover;
}

.input-s {
  position: relative; /*Contiene una caja relativa para que los absolute no se disparen*/
  width: 320px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.input-s label {
  position: absolute;
  left: 20px;
  top: -8px;
  pointer-events: none;
  transition: 0.3s;
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 15px;
  color: #666666;
}

/* Estilo para el label cuando el input está enfocado */
.form .input-s input:focus ~ label,
.form .input-s input:valid ~ label {
  transform: translateY(-35px); /* Mueve el label hacia arriba */
  font-size: 13px; /* Cambia el tamaño de la fuente */
  letter-spacing: 1px; /* Añade espacio entre las letras */
  font-weight: 600; /* Aplica un peso de fuente más grueso */
  color: #ff9500; /* Cambia el color a rojo */
}
