/* Fonts */
.textRedHatDisplay {
  font-family: "Red Hat Display", sans-serif;
}

.textRedHatDisplayMedium {
  font-family: "Red Hat Display Medium", sans-serif;
}

.textNunitoSansRegular {
  font-family: "Nunito SansRegular", sans-serif;
}

.textNunitoSansLight {
  font-family: "NunitoSansLight", sans-serif;
}

.textNunitoSansMedium {
  font-family: "NunitoSansMedium", sans-serif;
}
